name: Build, push and deploy
on: push
permissions:
  contents: read
  id-token: write
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    name: Run checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mise_target:
          - check:deadcode
          - check:gosec
          - check:govet
          - check:govulncheck
          - check:staticcheck
          - fmt:ci
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install tools
        uses: jdx/mise-action@v3
      - name: mise run ${{ matrix.mise_target }}
        run: |
          mise run ${{ matrix.mise_target }}

  build:
    if: github.ref == 'refs/heads/main'
    name: Build and push application image to GAR
    runs-on: ubuntu-latest
    needs:
      - checks
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install tools
        uses: jdx/mise-action@v3
      - id: go_version
        name: Get current go version
        run: echo "go_version=$(mise current go)" >> $GITHUB_OUTPUT
      - uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          build_args: |
            GO_VERSION=${{ steps.go_version.outputs.go_version }}
          team: nais
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy:
    if: github.ref == 'refs/heads/main'
    name: Deploy application
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Deploy to prod-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/app.yaml
          VAR: image=${{ needs.build.outputs.image }}